
  @font-face {
    font-family: "Internal Rainbows";
    src: url("./../../../../public/fonts/Internal Rainbows.otf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-Light.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-ExtraBold.otf");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("./../../../../public/fonts/Gilroy-ExtraBold.otf");
    font-weight: 900;
  }
  
  @font-face {
    font-family: Armata-Regular;
    src: url("./../../../../public/fonts/Armata-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Animosa";
    src: url("./../../../../public/fonts/Animosa-Regular.otf");
    font-weight: 400;
    font-display: swap;
  }
